In [2]:
import pandas as pd
pd.plotting.register_matplotlib_converters()
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
print("setup complete")

setup complete

In [4]:
fifa_fp = "./input/fifa.csv"
fifa_data = pd.read_csv(fifa_fp, index_col="Date", parse_dates=True)

In [5]:
fifa_data.head()

             ARG  BRA   ESP   FRA  GER  ITA
Date
1993-08-08   5.0  8.0  13.0  12.0  1.0  2.0
1993-09-23  12.0  1.0  14.0   7.0  5.0  2.0
1993-10-22   9.0  1.0   7.0  14.0  4.0  3.0
1993-11-19   9.0  4.0   7.0  15.0  3.0  1.0
1993-12-23   8.0  3.0   5.0  15.0  1.0  2.0

In [ ]:
plt.figure(figsze=(16, 16))
sns.lineplot(data=fifa_data)